@import "~bootstrap/scss/bootstrap.scss";

.modal-item {
    top: 0;
    height: 100%;
    overflow: auto;
    max-width: 935px;
    width: 100% !important;

    @include media-breakpoint-down(sm) {
        height: auto !important;
    }

    .ant-modal-content {
        background-color: transparent;
        box-shadow: none;
        border: none;
        height: 100% !important;

        @include media-breakpoint-down(sm) {
            height: auto !important;
        }

        .ant-modal-header {
            background-color: transparent;
            border: 0;
            height: 40px;
            padding: none;
            margin: none;
        }

        .ant-modal-close-x {
            width: 40px;
            height: 40px;
            line-height: 40px;

            .ant-modal-close-icon {
                color: #fff;
                font-size: 24px;
                line-height: 32px;

            }
        }

        .ant-modal-body {
            padding: 0;
            height: calc(100% - 50px);
            background-color: #fff;

            @include media-breakpoint-down(sm) {
                height: auto !important;
            }
        }
    }

    &__content {
        display: flex;
        align-items: stretch;
        height: 100%;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }

        &--info {
            flex: 1;
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

    &__image {
        background-Position: center;
        background-Size: contain;
        background-Repeat: no-repeat;
        height: 100%;

        @include media-breakpoint-down(sm) {
            min-height: 400px;
        }
    }

    .info-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;

        &__comments {
            flex: 1;
            position: relative;
            overflow-x: hidden;

            .comments-wrapper {
                flex: 1;
                display: flex;
                flex-direction: column;
                height: 100%;
                position: absolute;
                overflow-y: scroll;
                width: calc(100% + 16px);
                padding-right: 16px;

                @include media-breakpoint-down(sm) {
                    position: relative;
                }
            }
        }
    }

    .owner {
        display: flex;
        align-items: center;

        &__avatar {
            align-self: flex-start !important;
            margin: 0 18px 0 0;
        }

        &__info {
            display: inline-block;
            flex-shrink: 1;
            min-width: 0;

            &--username {
                display: inline-flex;
                font-size: 14px;
                padding: 0;
                margin: 0;
                margin-right: 4px;

                a {
                    color: #262626;
                    font-size: 14px;
                    text-decoration: none;
                    font-weight: 600;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    margin: 0;

                    &:visited {
                        color: #262626;
                        text-decoration: none;
                    }
                }
            }

            &__verified {
                background-position: -383px -238px;
                height: 18px;
                width: 18px;
                background-repeat: no-repeat;
                background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_b20f2a3cd7e4.png/b20f2a3cd7e4.png);
                flex-shrink: 0;
                margin-left: 7px;
                display: block;
                overflow: hidden;
                text-indent: 110%;
                white-space: nowrap;
            }

            span {
                font-weight: 400;
            }
        }

        &__comment {
            margin-top: 16px;
            margin-bottom: 4px;

            &--content {
                color: #999;

                .content-item {
                    background: 0 0;
                    border: 0;
                    cursor: pointer;
                    display: inline;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 14px;
                    margin-right: 16px;
                    padding: 0;
                    color: #999;

                    &:visited {
                        color: #999;
                    }
                }

                button {
                    background-color: transparent;
                    border: none !important;
                }
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-left: 0px !important;
        border-left: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
        height: 72px;
        color: #262626;

        &--content {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 16px;
        }

        .follow {
            span {
                margin-left: 4px;
                margin-right: 4px;
            }

            button {
                border: 0;
                padding: 0;
                position: relative;
                background: 0 0;
                background-color: transparent;
                font-weight: 600;
            }
        }

        &--option {
            cursor: pointer;
            height: 100%;
            width: 40px;
            text-align: center;
            font-size: 24px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
    }

    .comment-list {
        .ant-comment-inner {
            padding: 0;
        }
    }

    .comment-add {
        border-top: 1px solid #efefef;

        &__content {
            display: flex;
            align-items: center;

            .ant-form-item {
                margin: 0;
                padding: 0;
            }

            .submit {
                border-color: #fff;
                border: 0;
                font-weight: 600;
                color: #3897f0;
            }

            .ant-comment-inner {
                padding: 0;
            }

            .ant-btn.disabled,
            .ant-btn[disabled] {
                cursor: default;
                background-color: #fff;
                color: #c0e2f5;
            }

            .ant-input,
            .ant-input:focus,
            .ant-input:hover {
                border-color: #fff;
                border-right-width: 0px !important;
                outline: 0;
                box-shadow: none;
            }
        }
    }

    .action-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #efefef;

        &__content {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            cursor: pointer;

            svg {
                font-size: 24px;
            }
        }
    }

    .comment {
        &:hover {
            .item-option {
                display: block;
            }
        }

        &__content {
            display: flex;
            align-items: center;
            padding: 12px 16px 0px;
            width: auto;
            justify-content: space-between;

            &--action {
                align-self: flex-start;
                position: relative;

                .item-option {
                    display: none;
                    position: absolute;
                    right: 16px;
                    background: 0 0;
                    padding: 0;
                    border: 0;

                    &:hover {
                        display: block;
                    }

                    button {
                        background-color: #fff;
                        border: none !important;
                        font-size: 32px;
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    .heart {
        padding: 0;
        cursor: pointer;

        svg {
            color: rgb(190, 190, 190);
        }

        &__liked {
            svg {
                color: red;
            }
        }
    }

    .liked {
        margin-bottom: 4px;
        cursor: pointer;
        padding-left: 16px;

        &__number {
            font-weight: 600;
        }
    }
}

.item-center {
    display: flex;
    align-items: center;
    justify-content: center;
}