@import "~bootstrap/scss/bootstrap.scss";

.home {
    &__content {
        // max-width: 600px;

        &--item {
            margin-bottom: 60px;
        }
    }
}

@keyframes fan-spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}