._8irw {
    overflow-x: hidden;
}

._8iwm {
    transform: translateY(-100%);
}

._8ifw {
    height: 72px;
    left: 0;
    position: fixed;
    top: 0;
    transform: none;
    transition: transform 500ms cubic-bezier(0, .61, .28, .92);
    width: 100%;
    z-index: 301;
}