.PI__PO {
    position: absolute !important;
    justify-content: center !important;
    height: 72px;
    right: 4px;
    top: 0;
    bottom: 0;

    &--btn {
        min-height: 40px;
        min-width: 40px;
        border: 0;

        .btn-img {
            display: block;
            // background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_a35ec5018262.png/a35ec5018262.png);
            background-repeat: no-repeat;
            background-position: -338px -324px;
            height: 24px;
            width: 24px;
        }
    }

    &--modal {
        max-width: 400px;
        width: 100% !important;

        .ant-modal-body {
            padding: 0;
        }

        .ant-modal-title {
            text-align: center;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            margin: 12px 26px;
            color: rgba(var(--i1d, 38, 38, 38), 1);
            text-align: center;
        }

        .modal__content {
            display: flex;
            flex-direction: column;

            &--btn {
                font-weight: 500;
                border-radius: 0;
                border: 0;
                border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
                cursor: pointer;
                line-height: 1.5;
                margin: 0;
                min-height: 48px;
                padding: 4px 8px;
                text-align: center;
                font-size: 14px;

                &:focus {
                    color: inherit !important;
                }

                a,
                a:visited {
                    text-decoration: none !important;
                }
            }

            .btn-red {
                font-weight: 700;
                color: red !important;
            }
        }
    }
}

.action__share-modal {
    width: 260px !important;

    @media (min-width: 736px) {
        width: 400px !important;
    }

    .ant-modal-body {
        padding: 0;
    }

    .ant-modal-header {
        padding: 9px 24px;
    }

    .ant-modal-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
    }

    .ant-modal-close {
        &:focus {
            outline: none;
        }
    }

    .ant-modal-close-x {
        width: 43px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            height: 28px;
            width: 28px;
        }
    }

    &--content {
        // max-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fff;

        .modal-btn {
            display: flex;
            align-items: center;
            border: 0;
            background-color: rgba(var(--b3f, 250, 250, 250), 1);
            padding-bottom: 8px;
            padding-top: 8px;
            padding-left: 16px;
            padding-right: 16px;
            height: 48px;

            &__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 12px;
                width: 32px;

                svg {
                    height: 24px;
                    width: 24px;
                }
            }

            &__text {
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}