@import "~bootstrap/scss/bootstrap.scss";

.personal {
  background-color: #fff;
  flex-grow: 1;
  margin: 0 auto 30px;
  max-width: 935px;
  box-sizing: content-box;
  padding: 60px 20px 0;
  width: calc(100% - 40px);

  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  &__header {
    margin-bottom: 44px;

    @include media-breakpoint-down(sm) {
      margin-left: 16px;
      margin-right: 16px;
      margin-top: 30px;
      border-bottom: none;
      margin-bottom: 24px;
      padding-bottom: 0;
    }

    &--avatar {
      flex-grow: 1;
      margin-right: 30px;

      .avatar-layer1 {
        height: 150px;
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-down(sm) {
          height: 77px;
          width: 77px;
        }
      }

      .avatar-layer2 {
        background-color: #fafafa;
        border-radius: 50%;
        box-sizing: border-box;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        height: 100%;
        width: 100%;
      }

      .avatar-button {
        border: 0;
        cursor: pointer;
        padding: 0;
      }

      .avatar-image {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    &--username {
      margin-bottom: 20px;
      display: flex;

      @include media-breakpoint-down(sm) {
        margin-bottom: 12px;
      }

      .username {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: rgba(var(--i1d, 38, 38, 38), 1);
        font-weight: 300;
        font-size: 28px;
        line-height: 32px;
        margin: -5px 0 -6px;
      }

      .verified {
        background-position: -383px -238px;
        height: 18px;
        width: 18px;
        background-repeat: no-repeat;
        background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_b20f2a3cd7e4.png/b20f2a3cd7e4.png);
        flex-shrink: 0;
        margin-left: 7px;
        display: block;
        overflow: hidden;
        text-indent: 110%;
        white-space: nowrap;
      }

      .edit-account {
        color: rgba(var(--fe0, 0, 53, 105), 1);
        text-decoration: none;
        flex-shrink: 0;
        margin-left: 20px;

        button {
          background-color: transparent;
          border: 1px solid rgba(var(--d0b, 219, 219, 219), 1);
          color: rgba(var(--f07, 38, 38, 38), 1);
          border-radius: 4px;
          position: relative;
        }
      }
    }

    &--follow {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;

      .follow__item {
        font-size: 16px;
        margin-right: 40px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        &--number {
          color: #262626;
          font-weight: 600;
        }

        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }

    &--description {
      font-size: 16px;
      line-height: 24px;
      word-wrap: break-word;
      display: flex;
      flex-direction: column;

      .description-name {
        font: inherit;
        display: inline;
        font-weight: 600;
        text-align: start;
      }

      .description-bio {
        text-align: left;
      }
    }
  }

  &__highlight {
    margin-bottom: 44px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 21px;
    }

    &--item {
      position: relative;
      height: 130px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .circle-border {
        position: absolute;
        top: 2px;
        left: 24px;
        width: 87px;
        height: 87px;
        border: 1px solid lightgray;
        border-radius: 50%;

        @include media-breakpoint-down(sm) {
          top: -4px;
          left: -4px;
          width: 64px;
          height: 64px;
        }
      }

      .thumbnail {
        background-color: #fafafa;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        width: 77px;
        height: 77px;
        @include media-breakpoint-down(sm) {
          width: 56px;
          height: 56px;
        }

        &-url {
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          height: 100%;
        }
      }

      .title {
        font-weight: 600;
        padding-top: 15px;
        display: block;
        cursor: pointer;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        @include media-breakpoint-down(sm) {
          font-size: 12px;
          padding-top: 8px;
        }
      }
    }
  }
}
