.PI__PI {
    background-color: #fafafa;
    justify-content: center;
    margin-right: 335px;
    min-height: 450px;

    @media (max-width: 736px) {
        margin-right: 0 !important;
        min-height: 0;
    }

    &--content {
        left: 0;
        position: relative;
        top: 0;

        .content__wrapper {
            // display: block;
            overflow: hidden;
            max-width: 598px;

            @media (max-width: 736px) {
                max-width: 100%;
            }

            &--image-normal {
                width: 100%;
                height: auto;
                margin-top: auto;
                margin-bottom: auto;
            }

            &--image-modal {
                width: auto;
                height: 100%;

                @media (max-width: 736px) {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .image-heart {
            justify-content: center;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            pointer-events: none;
            display: flex;
            flex-direction: column;
            align-items: stretch;

            &__icon {
                background-repeat: no-repeat;
                background-position: 0 -98px;
                height: 81px;
                width: 92px;
                animation-duration: 1000ms;
                animation-name: like-heart-animation;
                animation-timing-function: ease-in-out;
                margin: 0 auto;
                opacity: 0;
                transform: scale(0);
            }
        }
    }
}

.PI__maxHeight {
    height: 100% !important;
    width: auto;
    background-color: black;
}

.homepage-image {
    margin-right: 0 !important;
    min-height: 0;

    &__wrapper {
        max-width: 100% !important;
    }
}