&__menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-content: center;
    align-items: center;

    &--items {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .active {
            svg {
                color: rgb(21, 105, 214);
            }
        }


    }

    .menu-item {
        padding-left: 24px;
        cursor: pointer;

        svg {
            color: rgb(38, 38, 38);
            width: 24px;
            height: 24px;

            &:hover {
                color: rgb(0, 124, 196);
            }
        }

        &:last-child {
            padding-right: 5px;
        }
    }
}