.PI__PI {
  background-color: #fafafa;
  justify-content: center;
  margin-right: 335px;
  min-height: 450px;

  @media (max-width: 736px) {
    margin-right: 0 !important;
    min-height: 0;
  }

  &--content {
    left: 0;
    position: relative;
    top: 0;

    .content__wrapper {
      overflow: hidden;
      max-width: 598px;

      @media (max-width: 736px) {
        max-width: 100vw;
      }

      &--image-normal {
        width: 100%;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
      }

      &--image-portrait {
        width: auto;
        height: 100%;
        object-fit: contain;

        @media (max-width: 736px) {
          width: 100%;
          height: auto;
        }
      }
    }

    .image-heart {
      justify-content: center;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      pointer-events: none;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      &__icon {
        background-repeat: no-repeat;
        background-position: 0 -98px;
        height: 81px;
        width: 92px;
        animation-duration: 1000ms;
        animation-name: like-heart-animation;
        animation-timing-function: ease-in-out;
        margin: 0 auto;
        opacity: 0;
        transform: scale(0);
      }
    }
  }

  .slider-images {
    width: 598px;
    margin: auto;
    height: 100%;

    @media (max-width: 598px) {
      width: 100vw;
    }

    .slick-slider {
      height: 100%;
    }

    .slick-list {
      height: 100%;
    }

    .slick-slide {
      div {
        height: 100%;
        width: 100%;
      }
    }

    .slick-track {
      position: relative !important;
      top: 0;
      left: 0;
      //   display: block ;
      display: inline-table;
      margin-left: auto;
      margin-right: auto;
      height: 100%;
    }

    .slick-prev,
    .slick-next {
      height: 30px;
      width: 30px;
      z-index: 1 !important;

      &:before {
        font-size: 30px;
      }
    }

    .slick-prev {
      left: 15px !important;
    }

    .slick-next {
      right: 15px !important;
    }

    .slick-dots {
      bottom: 10px !important;

      li {
        button {
          &:before {
            opacity: 0.4;
            color: rgba(var(--eca, 255, 255, 255), 1);
          }
        }
      }

      .slick-active {
        button {
          &:before {
            opacity: 1;
            color: rgba(var(--eca, 255, 255, 255), 1);
          }
        }
      }
    }

    .slick-disabled {
      display: none !important;
    }
  }

  .slider-images-modal {
    .slick-track {
      display: block !important;
    }
  }
}

.PI__maxHeight {
  height: 100% !important;
  width: auto;
  background-color: black;
}

.homepage-image {
  margin-right: 0 !important;
  min-height: 0;

  &__wrapper {
    max-width: 100% !important;
  }
}