.profile-edit-profile-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;

    &__btn {
        padding-left: 16px;
        cursor: pointer;
        border: 0;
        background-color: transparent;
        box-shadow: none;

        &:hover,
        &:focus {
            color: inherit;
        }

        svg {
            height: 24px;
            width: 24px;
        }
    }
}