&__profile {
  margin-bottom: 44px;

  @include media-breakpoint-down(sm) {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 30px;
    border-bottom: none;
    margin-bottom: 24px;
    padding-bottom: 0;
  }

  &--avatar {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-right: 30px;

    @media (max-width:736px) {
      margin: 0 !important;
      margin-bottom: 16px !important;
    }

    .avatar-content {
      width: fit-content;
      position: relative;


    }

    .change-photo {
      position: absolute;
      right: 0px;
      z-index: 1;
      bottom: 15px;

      &__btn-change {
        border-radius: 50%;
        background-color: rgb(233, 233, 233);
        border: 0;
        cursor: pointer;
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:focus {
          outline: none;
        }
      }
    }
  }

  &--username {
    @include media-breakpoint-down(sm) {
      padding-left: 10px;
    }

    .account {
      margin-bottom: 20px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 12px;
      }
    }

    .username {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: rgba(var(--i1d, 38, 38, 38), 1);
      font-weight: 300;
      font-size: 28px;
      line-height: 34px;
      margin: -5px 0 -6px;
    }

    .verified {
      background-position: -383px -238px;
      height: 18px;
      width: 18px;
      background-repeat: no-repeat;
      background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_b20f2a3cd7e4.png/b20f2a3cd7e4.png);
      flex-shrink: 0;
      margin-left: 7px;
      display: block;
      overflow: hidden;
      text-indent: 110%;
      white-space: nowrap;
    }

    .edit-profile {
      color: rgba(var(--fe0, 0, 53, 105), 1);
      text-decoration: none;
      flex-shrink: 0;
      margin-left: 20px;

      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }

      button {
        background-color: transparent;
        border: 1px solid rgba(var(--d0b, 219, 219, 219), 1);
        color: rgba(var(--f07, 38, 38, 38), 1);
        border-radius: 4px;
        position: relative;

        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }

    .edit-account {
      &__show-modal {
        padding-left: 16px;
        cursor: pointer;
        margin-top: 2px;

        svg {
          height: 24px;
          width: 24px;
        }
      }
    }

    .user-options {
      display: flex;
      flex-direction: row;
      margin-left: 20px;

      &__follow {
        margin-right: 8px;
        width: 92px;
      }

      &__option {
        display: flex;
        flex-direction: row;
        position: relative;
        // width: 34px;
        height: 30px;

        &--btn-suggest {
          border: 0;
          padding: 0;
          margin: 0;
          background: #3897f0;
          border-color: #3897f0;
          color: #fff;
          padding: 0 12px;
          height: 100%;
        }

        &--btn {
          background-repeat: no-repeat;
          background-position: -338px -321px;
          height: 24px;
          width: 24px;
        }
      }
    }
  }

  &--follow {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    @media (max-width: 736px) {
      justify-content: center;
    }

    .follow__item {
      font-size: 16px;
      margin-right: 40px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &--btn {
        cursor: pointer;
      }

      &--number {
        color: #262626;
        font-weight: 600;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  &--description {
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;

    .description-name {
      font: inherit;
      display: inline;
      font-weight: 600;
      text-align: start;
    }

    .description-bio {
      text-align: left;
    }

    .description-website {
      font-weight: 600;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
    }

    a,
    a:visited {
      color: #003569;
      color: rgba(var(--fe0, 0, 53, 105), 1);
      text-decoration: none;
    }
  }
}