.profile-toggle-suggested-btn {
    border: 0;
    padding: 0;
    margin: 0;
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    padding: 0 12px;
    // height: 100%;
    height: 30px;
}