@import "~bootstrap/scss/bootstrap.scss";

.personal {
  background-color: #fff;
  flex-grow: 1;
  margin: 0 auto 30px;
  max-width: 935px;
  box-sizing: content-box;
  padding: 60px 20px 0;
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding: 0;
    margin: 0;
  }

  @import 'profile';
  @import 'highlight';
  @import 'tabPages';
  @import 'loading';
  @import 'private';
}

@import 'userOptionsModal';