@import "~bootstrap/scss/bootstrap.scss";

.post-item {
  flex: 1 0 0%;
  display: block;
  position: relative;
  width: 100%;

  &__content {
    margin-right: 28px;
    margin-bottom: 28px;
    position: relative;

    @include media-breakpoint-down(sm) {
      margin-right: 3px;
      margin-bottom: 3px;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  &__LC {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;

    &--content {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      height: 100%;
      width: 100%;

      .LC-item {
        margin-right: 30px;

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}
