.notification {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #fff;
  overflow: auto;

  &__header {
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &--title {
      font-size: 18px;
      font-weight: 600;
      margin: 0;
      padding-left: 16px;
    }

    &--btn {
      border: 0;
      font-weight: 600;
      color: dodgerblue;

      &:focus {
        border-color: #fff !important;
      }
    }

    &--sub-title {
      font-size: 16px;
      font-weight: 600;
      background-color: #62afff;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 16px;
      margin: 0;
      margin-top: 4px;
    }
  }

  &__requests {
    min-height: 40px;
    padding: 12px 16px 13px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    outline: none;

    &--avatar {
      background-color: rgba(var(--c37, 237, 73, 86), 1);
      color: rgba(var(--eca, 255, 255, 255), 1);
      font-weight: 600;
      user-select: none;
      flex: 0 0 auto;
    }

    &--description {
      line-height: 1.3;
      margin: 0 12px;
      min-width: 0;
      word-wrap: break-word;
      color: rgba(var(--i1d, 38, 38, 38), 1);
      display: block;
      flex: 1 0 0%;

      .description {
        background: None;
        border: 0;
        text-align: left;
        font-size: 14px;
        line-height: 18px;
        color: rgba(var(--i1d, 38, 38, 38), 1);

        // display: block;
        display: flex;
        flex-direction: column;

        &__title {
          display: block;
          font-weight: 600;
          color: rgba(var(--i1d, 38, 38, 38), 1);
        }

        &__subtitle {
          display: block;
          color: rgba(var(--f52, 153, 153, 153), 1);
        }
      }
    }

    &--direct {
      min-height: 26px;
      min-width: 40px;
      flex: 0 0 auto;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__is-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  &__empty {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.follow-request {
  display: flex;
  flex-direction: column;

  &__header {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
  }

  &__content {
    display: flex;
    align-items: center;
    padding: 5px;

    &--description {
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      flex-grow: 1;

      .username {
        font-weight: 600;
        text-decoration: none;
        color: rgba(var(--i1d, 38, 38, 38), 1);
      }

      .full-name {
        color: rgba(var(--f52, 153, 153, 153), 1);
      }
    }

    &--action {
      .btn-action {
        margin-right: 10px;
      }
    }
  }
}

.notification-dropdown {
  max-height: 360px;
}
