.notification {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #fff;

    &__header {
        padding-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        &--btn-read-all {
            border: 0;
            font-weight: 600;

            &:focus {
                border-color: #fff !important;
            }
        }
    }
}