.page-item {
    margin: 0 auto;
    max-width: 1600px;
    overflow: hidden;
    width: 100%;
    text-align: left;

    @media (min-width: 769px) {
        opacity: 0.5;
    }

    &:last-child {
        padding-bottom: 20vh;
    }

    ._8jt3 {
        margin-bottom: -20vh;
        padding: 20vh 0;

        @media (max-width: 768px) {
            // margin-top: 10vh;
            margin-bottom: 0;
            padding: 0;
        }
    }

    ._8h2u {
        align-items: center;
        display: flex;
        min-height: 70vh;

        @media (max-width: 768px) {
            height: auto;
            min-height: unset;
        }
    }

    ._8f30 {
        align-items: stretch;
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: space-between;
    }

    ._8f0z {
        @media (min-width: 769px) {
            min-width: 50vw;
        }
    }

    ._8f0s {
        @media (min-width: 769px) {
            flex-shrink: 1;
            min-height: 100%;
        }
    }

    ._8h2w {
        max-width: 800px;
        min-width: 50vw;

        @media (max-width: 768px) {
            display: none;
        }
    }

    ._8g8k {
        box-sizing: border-box;
        height: 100%;

        @media (max-width: 768px) {
            padding-left: 7.142vw;
            padding-right: 7.142vw;
            padding-bottom: 32px;
            padding-top: 32px;
        }
    }


    ._8g8t {
        @media (min-width: 769px) {
            padding-left: 7.142vw;
            padding-right: 7.142vw;
        }
    }

    ._8g8o {
        @media (min-width: 769px) {
            padding-bottom: 48px;
            padding-top: 48px;
        }
    }

    ._8g5_ {
        justify-content: center;
    }

    ._8g88 {
        align-items: flex-start;
    }

    ._8g87 {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 100%;
        min-width: 100%;
        width: 100%;
    }

    ._8g80 {
        max-width: 457.136px;
        width: 28.571vw;
    }

    ._8ird {
        color: #000;
    }

    ._8iq5 {
        align-items: center;
        display: flex;
        font-family: Aveny T, Franklin Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: .8px;
        line-height: 24px;
        margin: 0;
        width: 100%;
    }

    ._8g7y {
        @media (max-width: 768px) {
            max-width: 100%;
            width: 100%;
        }
    }

    ._8g86._8kjd+._8g86._8kjd {
        margin-top: 16px;
    }

    ._8g86+._8g86 {
        margin-top: 16px;
    }

    ._8iq7 {
        font-size: calc(28px + (8 * ((100vw - 375px) / 1225)));
        line-height: calc(32px + (12 * ((100vw - 375px) / 1225)));
    }

    ._8iq3 {
        font-family: Franklin Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: 400;
        margin: 0;
        width: 100%;
    }

    ._8g86+._8g86 {
        margin-top: 16px;
    }

    ._8ipi {
        font-size: 18px;
        line-height: 28px;
    }

    ._8iq8 {
        font-family: Franklin Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: 400;
        margin: 0;
        width: 100%;
    }
}

.page-item-show {
    opacity: 1;
}