&--comment-list {
    padding: 0;
    margin: 0 0 auto;
    order: 1;
    overflow-x: hidden;
    flex-shrink: 1 !important;
    flex-grow: 1;
    min-height: 0;
    overflow: hidden;

    @media (max-width: 736px) {
        order: 4;
    }

    .CL {
        box-sizing: content-box;
        flex-grow: 1;
        height: calc(100% - 32px);
        overflow-y: scroll;
        left: 0;
        padding: 16px 12px;
        position: absolute;
        width: calc(100% - 8px);

        @media (max-width: 736px) {
            position: relative;
        }

        &__comment {
            margin-bottom: 16px;

            @media (max-width: 736px) {
                margin-bottom: 0;
            }

            &--divider {
                padding: 0;
                margin: 0;
                font-Size: 14px;
                cursor: pointer;
                color: rgba(var(--fe0, 0, 53, 105), 1);
                text-decoration: none;

                button {
                    border: none;
                }
            }

            &--GTP {
                font-Size: 14px;
                cursor: pointer;
                color: rgba(var(--fe0, 0, 53, 105), 1);
                text-decoration: none;
                text-align: left;
                margin-bottom: 4px;

                &:visited {
                    text-decoration: none;
                }
            }
        }

        &__item {
            touch-action: manipulation;

            &--W1 {
                padding-bottom: 0;
                margin-left: -12px;
                margin-right: 0;
                padding: 12px 16px;
                width: auto;
                overflow: hidden;
                word-wrap: break-word;
                margin-top: -5px;

                &:hover {
                    .CL__item--option {
                        display: block;
                    }
                }
            }

            &--W2 {
                display: flex;
                flex-direction: row !important;
                align-items: flex-start !important;
                justify-content: space-between !important;
            }

            &--content {
                width: calc(100% - 24px);
                display: flex;
                flex-direction: row !important;

                @media (max-width: 736px) {
                    width: calc(100% - 40px);
                }

                .item {
                    &__avatar {
                        cursor: pointer;
                        display: block;
                        flex: none;
                        align-self: flex-start !important;
                        margin: 0 18px 0 0;
                    }

                    &__content {
                        display: inline-block;
                        flex-shrink: 1;
                        min-width: 0;
                        font-size: 14px;
                        line-height: 18px;
                        text-align: left;

                        &--owner {
                            display: inline-flex !important;
                            align-items: center !important;
                            margin: 0;
                            margin-right: 4px;

                            .username {
                                color: #262626;
                                text-decoration: none;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 18px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                padding: 0;
                                padding-left: 5px;
                                margin-left: -5px;


                                &:visited {
                                    text-decoration: none;
                                }
                            }
                        }

                        &--posted-info {
                            margin-top: 16px;
                            margin-bottom: 4px;
                            flex: 0 0 auto;
                            justify-content: flex-start !important;
                            align-items: stretch;

                            @media (max-width: 736px) {
                                margin-top: 4px;
                            }

                            .info__content {
                                display: block;
                                color: rgba(var(--f52, 153, 153, 153), 1);
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 14px;
                                margin: -2px 0 -3px;

                                &--item {
                                    display: inline;
                                    margin-right: 16px;
                                    color: #999;
                                    border: 0;
                                    padding: 0;
                                    font-size: 12px;
                                    font-weight: 600;
                                    line-height: 14px;
                                    background: 0 0;

                                    &:focus {
                                        outline: none;
                                    }
                                }

                                &--time {
                                    cursor: default;
                                    font-weight: 400;
                                    text-transform: lowercase;

                                    @media (min-width: 736px) {
                                        font-size: 15px;
                                        line-height: 18px;
                                    }

                                    @media (max-width: 735px) {
                                        font-size: 14px;
                                        line-height: 17px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &--option {
                display: none;
                background-image: linear-gradient(to right, rgba(255, 255, 255, .8), #fff);
                position: absolute;
                right: 18px;
                top: -4px;
                padding-top: 10px;

                @media (max-width: 736px) {
                    display: block;
                }

                .option__btn {
                    display: flex;
                    align-items: center;
                    background: 0 0;
                    border: 0;
                    cursor: pointer;
                    justify-content: center;
                    padding: 0;
                    flex-grow: 0;

                    &:focus {
                        outline: none;
                    }

                    &--icon {
                        background-repeat: no-repeat;
                        background-position: -312px -324px;
                        height: 24px;
                        width: 24px;
                    }
                }
            }

            &--btn-heart {
                width: auto;
                height: auto;
                padding: 0;
                margin: 0;
                margin-top: 10px;
                border: 0;
            }
        }
    }

}