@import "~bootstrap/scss/bootstrap.scss";

.header {
  position: relative;
  z-index: 1;
  width: 100%;
  background: #fff !important;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  height: 75px;

  &__fixed {
    position: fixed;
  }

  &__content {
    height: 77px;
    max-width: 1010px;
    padding: 26px 20px;
    transition: height 0.2s ease-in-out;
    width: 100%;

    &--row {
      line-height: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__brand {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    &--items {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &--divide {
      background-color: rgba(var(--i1d, 38, 38, 38), 1);
      height: 28px;
      margin: 0;
      transition: opacity 0.1s ease-out;
      width: 1px;
    }

    svg {
      height: 24px;
      width: 24px !important;
    }

    &--icon {
      animation: fan-spinner 3s linear infinite;
      display: flex;
      justify-content: center;

      @include media-breakpoint-down(sm) {
        justify-content: start;
      }
    }

    &--text {
      font-size: 22px;
      padding: 0;
      margin: 0;
      text-align: left;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // width: 100%;

    &--item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 60px;
      padding: 8px 16px;
      text-align: left;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      .result {
        &__avatar {
          margin-right: 12px;
        }

        &__description {
          &--username {
            display: flex;
            align-items: center;
            flex-direction: row;
            color: rgba(var(--i1d, 38, 38, 38), 1);
            margin: 0 !important;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
          }

          &--fullName {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            margin: -3px 0 -4px;
            color: rgba(var(--f52, 153, 153, 153), 1);
          }
        }
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-content: center;
    align-items: center;

    &--items {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .active {
        svg {
          color: rgb(21, 105, 214);
        }
      }
    }

    .menu-item {
      padding-left: 24px;
      cursor: pointer;

      svg {
        color: rgb(38, 38, 38);
        width: 24px;
        height: 24px;

        &:hover {
          color: rgb(0, 124, 196);
        }
      }
    }
  }
}

@keyframes fan-spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}