.PI {
    width: 100%;
    padding: 0;

    @media (min-width: 736px) {
        background-color: #fff;
        border: 1px solid #e6e6e6;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
    }

    &__PI {
        background-color: #fafafa;
        justify-content: center;
        margin-right: 335px;
        min-height: 450px;

        &--content {
            left: 0;
            position: relative;
            top: 0;
        }

        .wrapper-image {
            display: block;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    &__PH {
        position: absolute !important;
        align-items: center !important;
        flex-direction: row !important;
        border-left: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
        height: 72px;
        padding: 16px;
        right: 0;
        width: 335px;
        margin-right: 0;
        top: 0;

        &--homepage {
            height: 60px;
            position: relative !important;
        }

        &--owner {
            margin-left: 16px;
            display: flex;
            align-items: flex-start !important;
            flex-grow: 1;

            .owner {
                flex-direction: row !important;
                align-items: center !important;

                &__info {
                    flex-direction: row !important;
                    align-items: center !important;

                    &--username {
                        display: inline;
                        font-size: 14px;
                        margin: 0;

                        a {
                            color: #262626;
                            text-decoration: none;
                            font-weight: 600;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;


                            &:visited {
                                color: #262626;
                                text-decoration: none;
                            }
                        }
                    }

                    // &--verified {
                    //     background-position: -330px -337px;
                    //     height: 12px;
                    //     width: 12px;
                    //     background-repeat: no-repeat;
                    //     background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_b20f2a3cd7e4.png/b20f2a3cd7e4.png);
                    //     flex-shrink: 0;
                    //     margin-left: 7px;
                    //     display: block;
                    //     overflow: hidden;
                    //     text-indent: 110%;
                    //     white-space: nowrap;
                    // }
                }

                &__follow {
                    flex-direction: row !important;
                    align-items: center !important;

                    &--dot {
                        display: inline;
                        color: #262626;
                        margin-left: 4px;
                        margin-right: 4px;
                    }

                    &--button {
                        background-color: transparent;
                        color: rgba(var(--f07, 38, 38, 38), 1);
                        border: 0;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 18px;
                        padding: 0;

                        &:focus {
                            outline: none;
                        }
                    }

                    .follow {
                        color: rgba(var(--h5f, 56, 151, 240), 1);
                    }
                }
            }

            .location {
                line-height: 15px;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #262626;
            }
        }

    }

    &__PO {
        position: absolute !important;
        justify-content: center !important;
        height: 72px;
        right: 4px;
        top: 0;
        bottom: 0;

        &--btn {
            // height: 100%;
            // width: 100%;
            min-height: 40px;
            min-width: 40px;
            border: 0;

            .btn-img {
                display: block;
                // background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_a35ec5018262.png/a35ec5018262.png);
                background-repeat: no-repeat;
                background-position: -338px -324px;
                height: 24px;
                width: 24px;
            }
        }

        &--modal {
            max-width: 400px;
            width: 100% !important;

            .ant-modal-body {
                padding: 0;
            }

            .ant-modal-title {
                text-align: center;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                margin: 12px 26px;
                color: rgba(var(--i1d, 38, 38, 38), 1);
                text-align: center;
            }

            .modal__content {
                display: flex;
                flex-direction: column;

                &--btn {
                    font-weight: 500;
                    border-radius: 0;
                    border: 0;
                    border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
                    cursor: pointer;
                    line-height: 1.5;
                    margin: 0;
                    min-height: 48px;
                    padding: 4px 8px;
                    text-align: center;
                    font-size: 14px;
                }

                .btn-red {
                    font-weight: 700;
                    color: red;
                }
            }
        }
    }

    &__info {
        position: absolute !important;
        border-left: 1px solid #efefef;
        box-sizing: border-box;
        top: 72px;
        padding: 0;
        right: 0;
        width: 335px;
        bottom: 0;

        &--actions {
            flex-direction: row !important;
            justify-content: space-between !important;
            align-items: center !important;
            order: 2;
            padding-top: 4px;
            padding-left: 16px;
            padding-right: 16px;
            margin-top: 4px;
            border-top: 1px solid #efefef;
            margin: 0;

            .action-item {
                &__content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row !important;
                }

                &__item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    width: 40px;
                    cursor: pointer;
                    border: 0;

                    svg {
                        font-size: 24px;
                    }

                    &:first-child {
                        margin-left: -8px;
                    }

                    &:last-child {
                        margin-right: -10px;
                    }
                }

            }
        }

        &--liked {
            flex-direction: row !important;
            justify-content: flex-start !important;
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 4px;
            order: 3;

            .liked {
                &__number {
                    font-weight: 400;
                    font-size: 14px;
                }
            }
        }

        &--comment-list {
            padding: 0;
            margin: 0 0 auto;
            order: 1;
            overflow-x: hidden;
            flex-shrink: 1 !important;
            flex-grow: 1;
            min-height: 0;
            // overflow: auto;
            overflow: hidden;

            .CL {
                box-sizing: content-box;
                flex-grow: 1;
                height: calc(100% - 32px);
                overflow-y: scroll;
                left: 0;
                padding: 16px 12px;
                position: absolute;
                width: calc(100% - 8px);

                &__comment {
                    margin-bottom: 16px;
                }

                &__item {
                    touch-action: manipulation;

                    &--W1 {
                        padding-bottom: 0;
                        margin-left: -12px;
                        margin-right: 0;
                        padding: 12px 16px;
                        width: auto;
                        overflow: hidden;
                        word-wrap: break-word;
                        margin-top: -5px;

                        &:hover {
                            .CL__item--option {
                                display: block;
                            }
                        }
                    }

                    &--W2 {
                        display: flex;
                        flex-direction: row !important;
                        align-items: flex-start !important;
                        justify-content: space-between !important;
                    }

                    &--content {
                        width: 100%;
                        display: flex;
                        flex-direction: row !important;

                        .item {
                            &__avatar {
                                cursor: pointer;
                                display: block;
                                flex: none;
                                align-self: flex-start !important;
                                margin: 0 18px 0 0;
                            }

                            &__content {
                                display: inline-block;
                                flex-shrink: 1;
                                min-width: 0;
                                font-size: 14px;
                                line-height: 18px;
                                text-align: left;

                                &--owner {
                                    display: inline-flex !important;
                                    align-items: center !important;
                                    margin: 0;
                                    margin-right: 4px;

                                    .username {
                                        color: #262626;
                                        text-decoration: none;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 18px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        padding: 0;
                                        padding-left: 5px;
                                        margin-left: -5px;


                                        &:visited {
                                            text-decoration: none;
                                        }
                                    }
                                }

                                &--posted-info {
                                    margin-top: 16px;
                                    margin-bottom: 4px;
                                    flex: 0 0 auto;
                                    justify-content: flex-start !important;
                                    align-items: stretch;

                                    .info__content {
                                        display: block;
                                        color: rgba(var(--f52, 153, 153, 153), 1);
                                        font-weight: 400;
                                        font-size: 12px;
                                        line-height: 14px;
                                        margin: -2px 0 -3px;

                                        &--item {
                                            display: inline;
                                            margin-right: 16px;
                                            color: #999;
                                            border: 0;
                                            padding: 0;
                                            font-size: 12px;
                                            font-weight: 600;
                                            line-height: 14px;
                                            background: 0 0;

                                            &:focus {
                                                outline: none;
                                            }
                                        }

                                        &--time {
                                            cursor: default;
                                            font-weight: 400;
                                            text-transform: lowercase;

                                            @media (min-width: 736px) {
                                                font-size: 15px;
                                                line-height: 18px;
                                            }

                                            @media (max-width: 735px) {
                                                font-size: 14px;
                                                line-height: 17px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &--option {
                        display: none;
                        background-image: linear-gradient(to right, rgba(255, 255, 255, .8), #fff);
                        position: absolute;
                        right: 12px;
                        top: -4px;
                        padding-top: 10px;

                        .option__btn {
                            display: flex;
                            align-items: center;
                            background: 0 0;
                            border: 0;
                            cursor: pointer;
                            justify-content: center;
                            padding: 0;
                            flex-grow: 0;

                            &:focus {
                                outline: none;
                            }

                            &--icon {
                                background-repeat: no-repeat;
                                background-position: -312px -324px;
                                height: 24px;
                                width: 24px;
                            }
                        }
                    }

                    &--heart {
                        padding-top: 10px;
                    }
                }
            }

        }

        &--posted-at {
            display: block !important;
            padding-left: 16px;
            margin-bottom: 0;
            order: 4;
        }

        &--post-comment {
            margin-top: 8px;
            padding-left: 16px;
            padding-right: 16px;
            order: 5;
            border-top: 1px solid #efefef;
            color: #999;
            flex-shrink: 0;
            font-size: 14px;
            line-height: 18px;
            min-height: 56px;
            justify-content: center !important;
        }
    }

    #react-root,
    article,
    div,
    footer,
    header,
    main,
    nav,
    section {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        position: relative;
    }
}

.action__share-modal {
    width: 260px !important;


    @media (min-width: 736px) {
        width: 400px !important;
    }

    .ant-modal-body {
        padding: 0;
    }

    .ant-modal-header {
        padding: 9px 24px;
    }

    .ant-modal-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
    }

    .ant-modal-close {
        &:focus {
            outline: none;
        }
    }

    .ant-modal-close-x {
        width: 43px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            height: 28px;
            width: 28px;
        }
    }

    &--content {
        // max-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fff;

        .modal-btn {
            display: flex;
            align-items: center;
            border: 0;
            background-color: rgba(var(--b3f, 250, 250, 250), 1);
            padding-bottom: 8px;
            padding-top: 8px;
            padding-left: 16px;
            padding-right: 16px;
            height: 48px;

            &__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 12px;
                width: 32px;

                svg {
                    height: 24px;
                    width: 24px;
                }
            }

            &__text {
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
            }


        }
    }
}