&--caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;

  .ant-avatar {
    margin-left: 8px;
    margin-right: 8px;
  }

  .ant-input-textarea-clear-icon {
    margin: 3px 19px 0 0;
  }

  .picker-emoij {
    background: transparent;
    border: 0;
  }

  .close-picker-emoij {
    bottom: 0%;
    transition: opacity 0.3s;
    background: #000;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }
}
